/**
  Add core to your component for extend the functionality

  Rules:
  * All mixins must have $m- prefix
  * All mixins will cache arguments and have uncached {block} part
  * All global color variables must have $c- prefix
  * All global z-index variables must have $z- prefix
  * All other global variables must have $v- prefix
  * Arguments variable and local variable must have $ prefix
  * Use JSDoc syntax for comment code
  todo: make ability using with webpack 
  https://github.com/tj/nib/blob/master/lib/nib.js
  https://github.com/shama/stylus-loader#using-nib-with-stylus
  todo: make ability load external less, sass with comman variables
*/

use('lib')
@import settings
@import tools
