class = "layout"

.{class}{
  min-height: 100%;
  height: 1px;

  &__main{
    height: $v-content-height;
  }

  &__nav{
    height $v-header-height;
  }

  &__footer{
    height $v-footer-height;
  }
}