$base-size          = 16px;

$header-height      = 100px
$footer-height      = 100px
$content-height     = "calc(100% - %s - %s)" % ($header-height $footer-height)

$c-brand-blue          = #159ad6
$c-brand-hover         = #364070
$c-btn-blue-hover      = #3EA0CC
$c-error-color         = #FF4F4F

$c-popup-gray          = #DADADA

$border-radius       = 3px
$border-color        = rgba(0,0,0,.2)

$fontPath= "../fonts/";