$v-base-size          = 16px;

$v-header-height      = 100px
$v-footer-height      = 100px
$v-content-height     = "calc(100% - %s - %s)" % ($vl-header-height $vl-footer-height)

$c-brand               = #159ad6
$c-brand-hover-dark    = #364070
$c-brand-hover-light   = #3EA0CC
$c-error               = #FF4F4F
$c-font                = #1F1F1F
$c-popup               = #DADADA

$v-border-radius       = 3px
$v-border-color        = rgba(0,0,0,.2)

$v-font-path= "../fonts/";