$v-base-size          = 16px;
$v-font-color         = black;

$v-header-height      = 100px
$v-footer-height      = 100px
$v-content-height     = "calc(100% - %s)" % ($v-header-height + $v-footer-height)

$v-border-radius       = 3px
$v-border-color        = rgba(0,0,0,.2)

$v-font-path= "../fonts/";