$style{
  font-family: $fnt-light
  font-size 15px
  color $fnt-color
}

input{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder {
  $style
}

input:-moz-placeholder {
  /* Firefox 18- */
  $style
}

input::-moz-placeholder {
  /* Firefox 19+ */
  $style
}

input:-ms-input-placeholder {
  $style
}

textarea::-webkit-input-placeholder {
  $style
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  $style
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  $style
}

textarea:-ms-input-placeholder {
  $style
}

