::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: $C_gray-70;
  border: 0 none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: $C_gray-65;
}
::-webkit-scrollbar-thumb:active {
  background: $C_gray-68;
}
::-webkit-scrollbar-track {
  background: $C_gray-50
  border: 0 none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: $C_gray-46;
}
::-webkit-scrollbar-track:active {
  background: $C_gray-46;
}
::-webkit-scrollbar-corner {
  background: transparent;
}