$m-btn(){
  +cache('$m-btn') {
    text-align center;
    box-sizing border-box;
    padding 12px 20px;
    outline: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    cursor: pointer;
    font-weight 400;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    &:active, &:visited, &:focus {
      text-decoration: none;
    }
  }
  {block}
}