html{
  font-size $v-base-size;
  color: $c-font;
}
html{
  font-family 'Roboto', 'Arial', sans-serif
}
body {
  margin 0;
  overflow-x: hidden;
  position relative;
}

html, body{
  min-height 100%
  height 1px;
  max-width: 100%;
}

div[tabindex="-1"]{
  &:focus {
    outline none;
  }
}
