html
  head
    title Experimental project
  body
    .container
      .grid
        .grid__cell-1
          .grid__full-size-3
        .grid__cell-1
          .grid__full-size-1
        .grid__cell-1
          .grid__full-size-2
        .grid__cell-1
          .grid__full-size-4
        .grid__cell-1
          .grid__full-size-1
        .grid__cell-1
          .grid__full-size-2
        .grid__cell-1
          .grid__full-size-3
        .grid__cell-1
          .grid__full-size-4
        .grid__cell-1
          .grid__full-size-1
        .grid__cell-1
          .grid__full-size-2