$m-inline-block-crutch($align = middle){
  &:before{
    display inline-block;
    vertical-align unquote($align);
    height: 100%;
    content: ""
    width: 0
  }
}

$m-percent($full, $part){
  unit(($part * 100% / $full), "%")
}

$m-rem($px, $base = $base-size ){
  if ((unit($px) == '' || unit($px) == 'px') && ($px != 0)) {
    return (round($px / $base, 3)) rem
  } else {
    return 0
  }
}

$m-size($d){
  width: $d;
  height $d;
  line-height $d;
}

$m-restrict-center($maxWidth = 1000px){
  max-width: $maxWidth;
  margin: 0 auto;
}

$m-hide-text() {
  overflow hidden
  text-indent 110%
  white-space nowrap
}