/*
  Core
    * Settings: Global variables, config switches.

    * Tools: Mixins and functions.

    * lib: Js functions

  Generic: Ground-zero styles (Normalize.css, resets, box-sizing).

  Vendor: List of vendor styles.

  Base: Unclassed HTML elements.

  Blocks: BEM classes.

  Trumps: Helpers and overrides.
*/

@import core
//@import generic
//@import vendor
//@import base
@import blocks
@import components
@import trumps