/*
  Core
    * Settings: Global variables, config switches.

    * Tools: Default mixins and functions.

    * lib: Js functions

  Generic: Ground-zero styles (Normalize.css, resets, box-sizing).

  Vendor: List of vendor styles.

  Base: Unclassed HTML elements.

  Objects: BEM classes.

  Trumps: Helpers and overrides.
*/

@import core
@import generic
@import vendor
@import base
@import object
@import components
@import trumps