/*
  Settings: Global variables, config switches.

  Tools: Default mixins and functions.

  Generic: Ground-zero styles (Normalize.css, resets, box-sizing).

  Vendor: List of vendor styles.

  Base: Unclassed HTML elements (type selectors).

  Objects: Cosmetic-free design patterns.

  Trumps: Helpers and overrides.
*/


@import "settings"
@import "tools"
@import "generic"
@import "base"
@import "object"
@import "components"
@import "trumps"