/**
  *  example usage: font-generic($fontPath, "Titillium", "Black");
  *
  *  font structure:
  *  src
  *  | fontName
  *  | | fontWeight (CamelCase)
  *  | | | fontName-fontWeight (*.eot, *.svg, *.ttf, *.woff)
  *
  *  font weight:
  *  100    Extra Light or Ultra Light
  *  200    Light or Thin
  *  300    Book or Demi
  *  400    Normal or Regular
  *  500    Medium
  *  600    Semibold, Demibold
  *  700    Bold
  *  800    Black, Extra Bold or Heavy
  *  900    Extra Black, Fat, Poster or Ultra Black
*/

$m-font-generic($font-path, $font-family, $font-weight) {
  @font-face {
    font-family: ($font-family + '-' + $font-weight);
    src: url($font-path + $font-family + '/' + $font-weight + '/' + $font-family + '-' + $font-weight + '.eot?v=1.0');
    src: local('®'), url($font-path + $font-family + '/' + $font-weight + '/' + $font-family + '-' + $font-weight + '.woff?v=1.0') format('woff'),
    url($font-path + $font-family + '/' + $font-weight + '/' + $font-family + '-' + $font-weight + '.ttf?v=1.0') format('truetype'),
    url($font-path + $font-family + '/' + $font-weight + '/' + $font-family + '-' + $font-weight + '.svg?v=1.0') format('svg');
  }
}

$m-font-face($font-name, $file-path, $weight = 'normal', $style = 'normal') {
  $url-fallback = 'url("' + $file-path + '.eot")'
  $url = 'url("' + $file-path + '.eot?#iefix") format("embedded-opentype"), '
  $url = $url + 'url("' + $file-path + '.woff") format("woff"), '
  $url = $url + 'url("' + $file-path + '.ttf") format("truetype"), '
  $url = $url + 'url("' + $file-path + '.svg#svg' + replace(' ', '', $font-name) + '") format("svg")'

  @font-face {
    font-family $font-name
    src unquote($url-fallback)
    src unquote($url)
    font-weight unquote($weight)
    font-style unquote($style)
  }
}