inline-block-crutch(){
  &:before{
    display inline-block;
    vertical-align middle;
    height: 100%;
    content: ""
    width: 0
  }
}

percent($prop, $full, $part){
  {$prop}: ($part * 100% / $full)
}

diameter($d){
  width: $d;
  height $d;
  line-height $d;
}

restrict-center($maxWidth = 1000px){
  max-width: $maxWidth;
  margin: 0 auto;
}

unselectable(){
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

clearfix(){
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/*
  body
   apply(one 1, two 2, three 3)

  body
   list = (one 1) (two 2) (three 3)
   apply(list)
*/
apply(props) {
  props = arguments if length(arguments) > 1
  for prop in props {
    {prop [ 0 ]} prop[1]
  }
}